@{
    ViewData["Title"] = "Home Page";
}

<div class="mb-8">
    <div class="card text-white bg-gradient mb-8" style="max-width: 20rem;">
        <div class="card-header">Seller System Controller</div>
        <div class="card-body">
            <h4 class="card-title">Welcome</h4>
            <p class="card-text">This is a study system developed by Lucas Lopes Cantídio, in @DateTime.Now</p>
        </div>
</div>
